
body{
    font-family:'Candara';
    font-size: 1.2rem;    
}

*{
    margin: 0;
    padding: 0;
}

.contenido{
    width: 100%;
    height: 100%;
}
.slider{
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-image: url(../IMAGES/basquetbol.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    animation: slider 40s linear infinite;
    position: fixed;
    z-index:-900;
}
/*Logo*/

.header .logo1{
    width: 160px;
    height: 55px;
     margin-right: 3%;
     float: right;
     margin-top: 2px;
     
 }

/*Hamburguesa Desplegable*/
.header #desplegable{ 
    color: #d6d5a8;
    cursor: pointer;
    font-size: 2.5rem;
    padding-top: 3px;
    float: left;
    margin-left: 20px;
    margin-top: 7px;
}
.desplegar{
        transform: translateX(-100%);
}
.header{
    position:fixed;
      width: 100%;
      height: 60px;
      background:#1b2430;
      left:0;
      top:0;
      right: 0;
}
.header a{
    color:black;
    text-decoration: none;
}
.registrarse{
    margin-top: 10px;
    margin-left: 1px;
    float: left;
    
}

.registrarse li{
    margin-top: 7px;
    text-decoration: none;
    list-style: none;
    padding-left: 3px;
    padding-right: 1px;
}

.registrarse li a{
     font-size: small;
     color:#d6d5a8;
     text-decoration: none;
     padding: 10px 57px ;
     
     font-family:'Candara';
     font-size: 1rem;
     
        border-bottom:1px solid #d6d5a8;
        border-top:1px solid #d6d5a8;
    }


 .registrarse a:hover{
    background-color: #51557e;
    transition: all 0.2s;
    white-space:nowrap;   

}


/*tamaño y color del nav horizontal*/
.header #menu .item{
    position: relative;
    display: inline-block;
    margin-left: 6%;
    margin-top: 9px;
    border-bottom:solid 1px #d6d5a8;
    border-top:solid 1px #D6D5A8;
}

#menu .item a{
     display: block;
     padding: 7px 60px ;
     color:#d6d5a8;
     
}
#menu .item a:hover{
    background:#51557e;
    transition: all 0.2s;
    white-space:nowrap;   
}
 



/*EMT DEPORTE*/
.desple{
    position:block;
    display:none;
    max-width: 100%;
}
 .desple li {
   display: block;
   background:#1b2430;
   text-align:center;
}
.desple li a{
    display:block;
    text-decoration:none;
    white-space:nowrap;
    color:#d6d5a8;
    
 }
/* Tamaño de la caja para arreglar la posicion*/
#menu .item:hover .desple{
    position: absolute;
    display:block;    
}


/*EMT DEPORTE HOVER*/

.desple a:hover{
    transition: all 0.s;
    white-space:nowrap;
    margin-left: 10%;
    border-left:2px solid #d6d5a8;
    border-bottom:1px solid #d6d5a8;
}

/*Sigd*/
.desple3{
    
    position: block;
    display:none;
   max-width: 100%;
}

.desple3 li{
   display: block;  
   text-align: center;
   background-color: #1b2430;
}
.desple3 li a{
    display: block;
    text-decoration: none;
    white-space: nowrap;
}

#menu .item:hover .desple3 {
  display: block;
   position: absolute;
}
/*SIGD HOVER*/

.desple3 a:hover{
    transition: all 0.s;
    white-space:nowrap;
    margin-left: 10%;
    border-left:2px solid #d6d5a8;
    border-bottom:1px solid #d6d5a8;
}
/*deporte*/

    
.desple1{
    position: block;
    background-color: #1b2430;
    
    display: none;
    max-width: 100%;
}
.desple1 li{
     display: block; 
     color: #d6d5a8;
    text-align: center;
    
}
#menu .desple1 li a{
    display: block;
    text-decoration: none;
    white-space: nowrap;
    
}

#menu .item:hover .desple1 {
    display: block;
    position: absolute;
    
}

/*DEPORTE HOVER*/

.desple1 a:hover{
    transition: all 0.s;
    white-space:nowrap;
    
}

/*futbol*/

.futbol{
    position: absolute;
    transform: translateX(100%);
    right: 0;
    top:0;
    display:none;
    background-color:#1b2430;  
}

.contfutbol:hover{
    border-left:2px solid #d6d5a8;
    border-bottom:1px solid #d6d5a8;
}

/*HOVER SUBMENU FUTBOL*/
.futbol .HistoriaFutbol:hover{
    border-right:5px solid #d6d5a8;
    border-bottom:1px solid #d6d5a8;
}
.futbol .Reglas:hover{
    border-right:5px solid #d6d5a8;
    border-bottom:1px solid #d6d5a8;
}
.futbol .FutUru:hover {
    border-right:5px solid #d6d5a8;
    border-bottom:1px solid #d6d5a8;
}

.contfutbol:hover .futbol{
    display: block;
    
}



/*basket*/
.basket{
    position: absolute;
    transform: translateX(100%);
    right: 0;
    top:33%;
    display:none;
    background-color:#1b2430;
    
}

.contbasket:hover{
    border-left:2px solid #d6d5a8;
    border-bottom:1px solid #d6d5a8;
}
.contbasket:hover .basket{
    display: block;
}

/*HOVER SUBMENU BASKET*/
.basket .HistoriaBasket:hover{
    border-right:5px solid #d6d5a8;
    border-bottom:1px solid #d6d5a8;

}

.basket .ReglasBasket:hover{
    border-right:5px solid #d6d5a8;
    border-bottom:1px solid #d6d5a8;
}

.basket .BasketUru:hover{
    border-right:5px solid #d6d5a8;
    border-bottom:1px solid #d6d5a8;
}
/*handball*/

.conthandball:hover{
    border-left:2px solid #d6d5a8;
    border-bottom:1px solid #d6d5a8;
}

.handball{
    position: absolute;
    transform: translateX(100%);
    right: 0;
    top:67%;
    display:none;
    background-color:#1b2430;
}

.conthandball:hover .handball{
    display: block;
}
/*HOVER SUBMENU HANDBALL*/
.handball .HistoriaHandball:hover{
    border-right:5px solid #d6d5a8;
    border-bottom:1px solid #d6d5a8;
}

.handball .ReglasHandball:hover{
    border-right:5px solid #d6d5a8;
    border-bottom:1px solid #d6d5a8;
}

.handball .HandballUru:hover{
    border-right:5px solid #d6d5a8;
    border-bottom:1px solid #d6d5a8;
}
/*Navegacion lateral*/
#aside{
    background-image: linear-gradient( to left, #51557e, #1b2430af);
    width: 10%;
    height: 100%;
    float:left;
    left:0;
    bottom:0;
    overflow-y: auto;
    margin-top: 50.7px;
    transition: 0.5s;
    border-right:2px solid #1b2430;
    /*poner estatica la barra*/
    position:fixed;
    top:10px;
    z-index: 5;
}

.aside:hover{
    overflow-y: auto;
}
.aside::-webkit-scrollbar-thumb{
    background-color: #1a4364;
   
}
.navLat div{
    display: flex;
    align-items: center;
    width: 10%;
    padding: 20px;
    cursor:pointer;
    color:#d6d5a8;
    margin-top: 15%;
    font-size:medium;
    white-space: nowrap;
    
}


.navLat div:hover{
    background-color: #1b2430;
    border-top: 1px solid #d6d5a8;
    border-bottom: 1px  solid #d6d5a8;
    width: 100%;
}
    
.navLat div span{
    font-size: 90%;
}

#separador{
    width:100%;
    background-color: #1b2430;
    border-top:2px solid black;
    border-bottom:2px solid black;
    cursor: default;
}



.perfil{
    padding-left:10px;
    padding-bottom:10px;
    margin-top:20px;
    width: 100%;
    height: 70px;
    display:inline-block;
    border-bottom: 3px  solid #1b2430;
}
.foto {
    width:36%;
    height: 66px;
    border: 2px solid #d6d5a8;
    float:left;
}

.perfiledit a{
    text-decoration: none;
    color: #d6d5a8;
    font-size: medium;
    float:left;
    margin-left:20px;
    margin-top:15px;
    
}
.perfiledit a:hover{
    border-bottom: 1px solid #d6d5a8;
    background-color: #1b2430;
}

/*El cuerpo de la pagina*/
.main{
    
     margin-left: 10%;
    
      margin-top: 3%;
     
      width: 90%;
      height: 1200px;
      z-index:-2;
      position:absolute;
}
.tabla{
    
    width: 100%;
    height: 800px;
    text-align: center;
}
.calendario{
    background-color: rgba(40, 140, 255, 0.712);
        margin-top: 2%;
        margin-left: 10%;
        max-width: 70%;
        font-weight: bold;
        color:black;
        border:1px solid;
        border-radius: 5px;
        box-shadow:2px 10px 10px 2px #222121 ;
}

.mes{  
font-size: 40px;
text-align: center;
background-color: #407191;
letter-spacing: 1px;
color:#ffffff;

border: 2px solid rgb(0, 0, 0);
}

 th td{
    width: 100%;
    table-layout:fixed ;
    text-align: center;
    font-size: 27px;
    border-collapse: collapse;
    border:5px solid black;
}
tr th td{
    padding: 20px;
}
th{
    background-color: #000000d3;

color: rgb(255, 255, 255);


}
td{
    background-color: #ffffffa8;
    color: #000000;
}
td:hover{
    background-color: #3d698da9;
}



/*Pie de pagina*/

.footer {
    width: 100%;
    height:160px;
    border-top: 1px rgb(46, 45, 45);
    border-bottom: 0px;
    border-style:solid;
    border-left: 0px;
    border-right:0px;
    margin-top: 1200px;
    position: absolute;
   clear:both;
   background-image: linear-gradient( to right, #51557e, #1b2430af);
}

.textofooter{
    margin-left: 32%;
    margin-right: 30%;
    width: 900px;
    height: 20px;
}

.p li{
    padding: 20px 70px;
    margin-top: 1%;
    list-style: none;
    display: inline-block;
}

.p li a{
    text-decoration: none;
    font-size:large;
    color: black;
    
}

.footer .logofooter{
    
    margin-left: 44%;
    margin-right: 10%;
    background-color: #25532d;
}

