html{
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body.html{
    overflow-x: hidden;
}
.cajasombra{
    box-shadow: 
    0 0 5px rgba(116, 121, 134, 0.733),
    0 0 10px rgb(136, 139, 146),
    0 0 15px rgb(196, 199, 207),
    0 0 20px rgb(233, 238, 255);
}
#partido{
   
    
    border-top: 1px solid rgb(187, 186, 186);
    border-bottom: 1px solid rgb(139, 133, 133);
    border-radius: 5px;
    box-shadow: 
    0 0 1px rgb(192, 192, 192),
    0 0 2px rgb(198, 219, 223),
    0 0 4px rgb(176, 205, 211),
    0 0 8px rgb(149, 192, 201);
    
}

.cabezeraColorGano{
    background-color: rgba(124, 202, 108, 0.644) !important;
    color:rgb(65, 64, 64);
}

.cabezeraColorPerdio{
    background-color: rgba(177, 81, 81, 0.63) !important;
    color:rgb(65, 64, 64);
}

.cabezeraColorEmpato{
    background-color: rgba(219, 216, 20, 0.808) !important;
    color:rgb(65, 64, 64);
}

.texto{
    text-align:center;
}

.elementopie{
    text-align:center ;
    background-color: rgb(23, 37, 41); 
}
.elementopie a{
    color:white;
}
.fila{
    margin-top: 2%;
}

.alinear-listas{
    text-align: center;
    background-color: #a2dcf7 !important;
}

.contenido-torneo{
    display: grid;
    justify-content: center;
  margin-bottom: 5%;
   padding-left: 4%;
   
}
.tabla-torneo{
    display: grid;
    justify-content: center;
    margin-top: 3%;
    box-shadow: 
    0 0 1px rgb(187, 182, 182),
    0 0 2px rgb(138, 135, 135),
    0 0 4px rgb(112, 112, 112);
        padding: 2%;
        background-color: #fffffff5;
        margin-left: 4%;
}
.tabla-torneos{
    display: grid;
    justify-content: center;
    margin-top: 3%;
    box-shadow: 
    0 0 1px rgb(187, 182, 182),
    0 0 2px rgb(138, 135, 135),
    0 0 4px rgb(112, 112, 112);
        padding: 2%;
        background-color: #fffffff5;
       margin-left: 10%;
}
.linea{
    padding-top: 1%;
    margin-left: 5%;
    border: 2px solid grey;
    background-color: rgba(106, 156, 207, 0.5);
    
}
.img-torneo{
    margin-right: 25%; 
} 
.formulario-contraseña{
    
    display: grid;
    justify-content:center;
    height: 70vh;
    padding: 3%;
}
.contorno-contraseña{
    background-color: rgba(0, 128, 255, 0.178);
    display: grid;
    justify-content:center;
    padding: 5%;
 
}
.borde-contraseña{
    border: 2px solid rgba(0, 128, 255, 0.178);
    display: grid;
    justify-content:center;
    margin: 2%;
    padding-top: 2%;
}

@media (min-width: 280px) and (max-width: 500px){ 
 .formulario-contraseña{
    height: 180vh;
 }

 }
 @media (min-width: 500px) and (max-width: 820px){ 
    .formulario-contraseña{
       height: 75vh;
    }
   
    }
    .color-estudiante{
        color: #383838;
        background-color: rgba(0, 128, 255, 0.178);
    }

.textito{
    font: bold;
    font-family: verdana;
    color: #383838;
    font-size: 2rem;
    background-color: rgba(106, 156, 207, 0.5);
    border-radius: 3px;
    border-top: 1px solid grey;
   padding: 1%;
   margin-top: 3%;
}

.modificaciones-admin{
    margin-top: 4%;
    height: 80vh;
}

@media (min-width: 280px) and (max-width: 500px){ 
    .modificaciones-admin{
        height: 160vh;
    }
    }

.piedepagina{
    background-size:auto;
    background-image: url(../../imagenes/LogoArcanet3.png);
    background-repeat: no-repeat ;
    background-attachment:local;
    background-position: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.arca{
    width: 4em;
    margin-left: 6%;
    display: block;
    animation: float 3s linear infinite;
   
}
@keyframes float{
    0%, 100% {
        transform:translateY(0rem) ;
    }
   
    28%{
        transform: translateY(-0.3rem);
    }
}

.modal-color{
    width: 100%;
   
    background-color: #b8dbeb49;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    
}
.modal-contenido{
    background-color: #465c6d9c;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
.modal-cabezera{
   width: 100%;
   background-image: url(../../imagenes/logo.png);
   background-repeat: no-repeat ;
   background-position: center;
   align-items: center;
   display: flex;
   justify-content: center;
}

.textoprin{
    color: rgb(80, 125, 171) !important;
     white-space: nowrap;
     font-family:'Franklin Gothic Medium';
 }
 
 
 .textoprin:hover{
     color:#212c34d8 !important;
     border-radius: 4%;
     transition: 0.5s;
 }
 
 .textoprinPrincipal{
     color: rgb(23, 70, 99) !important; 
     font-family:'Franklin Gothic Medium';
  }
  .textoprinPrincipal:hover{
     color: rgb(80, 125, 171) !important;
     font-family:'Franklin Gothic Medium';
  }
  

.color{
    text-align: center;
   color: white!important;
}
.color:hover{
   color: rgb(24, 36, 54) !important;;
 }
.color-texto{
    text-align: center;
    color: white!important;
}
h2{
    width: 100%;
    background-color: #465c6dc7;
    color:white;
    border-radius: 2%;
}
.caja{
     width: 100%;
 
     padding: 4%;
     display: grid;
     place-items: center;
}

.row{
    width: 100%;
}
.boton-enviar{
    color: white;
   background-color: #465c6dc7 !important;
  font-weight: bolder;
  margin-top: 3%;
}
.boton-enviar:hover{
    background-color: #415869b2 !important;
    color: #2c2c2c !important;
}

h1{
    padding: 2%;
    border-bottom: 1px solid black;
    text-align: center;
    width: 90%;
    color: #383838!important;
}
h3{
    text-align: center;
    width: 60%;
    padding: 3%;
    color: #4b4a4a !important;
    border-bottom: 1px solid #6988a1;
}

.hamburguesa-boton{
  background-color: #00000050!important;
}

.sidebar{
    background-color: #247c9767!important;
}
.navegacion_lista{
    list-style: none;
    z-index: 2;
    height: 100vh;
  
    overflow: auto;
}
.navegacion_lista li:hover{
    transition: 2s;
    background-color: #247c9767;
    
}
.navegacion_lista li{
    margin-top: 40%;
    padding-top: 10%;
    padding-bottom: 10%;
    border-right: 3px solid #247c9767;
}
.navegacion_lista li a {
    color:rgb(231, 230, 230);
    white-space: nowrap;
    font-size: 1.2vh;   
    font-weight: bold;
}
.navegacion_lista li a:hover {
   color:#2c2c2c;
   font-weight: bold;
}

@media (min-width: 750px){
    .navegacion_lista li{
     margin-top: 50px;
    }
}
.estadio{
   padding: 2%;

}
.torneos{
    background-color: #acb9b9;
    height: 10vh;
    border-bottom: 1px solid black;
    display: grid;
    place-items: center;
}
.datos-torneo p{
   padding-top: 4%;
}
.equipos{
    height: 50vh;
    background-color: #8da2b9af;
}
.datos-personales{
    
    display: grid;
    place-items: center;
}
.a{
   background-color: #ffffff;
    padding-top:2%;
    border-bottom: 1px solid black; 
    height: 30%;
    
}


#form-param{
    padding: 20px;
    background-color: #fff;
    display:flex;
}
#form-param .container{
    flex:2;
}
#form-param .buttons{
    flex:1;
    }
input{
    padding: 5px;
    margin: 6px;
    width: 42%;
}
button{
    border:none;
    padding: 9px;
    display: block;
    margin: 6px;
}
button:first-child{
    background-color: #465c6dc7;
}

.error{
    border-color:red !important;
    outline-color : #c70707 !important;
    border-color: red !important;
}
.error{
    border-color:red !important;
    outline-color : #c70707 !important;
    border-color: red !important;
    box-shadow: 0 0 0 0 rgba(235, 12, 12, 0) !important;
    
}
.error:focus{
    border-color:red !important;
    outline-color : #c70707 !important;
    border-color: red !important;
    box-shadow: 0 0 0 0 rgba(235, 12, 12, 0) !important;
}
.success{
    border-color:rgba(94, 255, 0, 0.685) !important;
    outline-color : rgba(94, 255, 0, 0.685) !important;
    border-color: rgba(94, 255, 0, 0.685) !important;
    box-shadow: rgba(94, 255, 0, 0.685) !important;
}
.success:focus{
    border-color:rgba(94, 255, 0, 0.685) !important;
    outline-color : rgba(94, 255, 0, 0.685) !important;
    border-color: rgba(94, 255, 0, 0.685) !important;
    box-shadow: rgba(94, 255, 0, 0.685) !important;
}

.imagen{
    width: 80%;
}
.columna{
    padding-top: 5%;
}
.centrar-fecha{
    display: grid;
    justify-content: center;
}

/*------- ..............-------------?*/
.jumbotron{
 background-color: white!important;
   padding: 5%!important;
   text-align: center;
}

.tablas{
    margin: 5%;
}
.drop-boton{
    background-color:#465c6dc7 !important;
    color:white;
    margin-bottom: 5%;
}
.tabla{
    text-align:center;
    margin-top: 5%;
}
.datos{
    color: #364753fd;
    border: 2px solid rgba(0, 128, 255, 0.178);
background-color: rgba(0, 128, 255, 0.055);;
    font-family: verdana;
}
.cabezera{
    background-color: #437499a2;
    color: white;
}

.formulario{
    display: grid;
    place-items: center;
    height: 210vh;
    padding: 1%;
    padding-left: 8%;
    width: 100%;
}
.boton{
    color:#465c6dfb !important;
    font-family:'Franklin Gothic Medium';
}
.boton:hover{
    color:white!important;
}
.color-torneo{
   text-align: center!important;
   background-color: #465c6dc7!important;
}
.bg{
   background-color: #465c6dc7!important;
   border-bottom: 1px solid rgb(94, 94, 94);
}
.cuerpo{
    text-align: center;
    height: 150vh;
    padding: 2%; 
}
.cuerpo-partido{
    width: 100vh;
    text-align: center;
    padding:2%;
    margin-top: 3%;
   margin-bottom: 5%;
}
.cuerpo_roles{
    text-align: center;
    height: 170vh;
    padding: 6%; 

}
.boton-deporte{
    margin: 3%;
    color: white;
    background-color: #465c6dc7 !important;
    width: 12%;
    text-align: center;
}

.cuerpo .row{
    margin: 5%;
}
.cabezera-tabla{
    text-align: center;
}
.cuerpo-tabla{
    text-align: center;
}
.foto-equipo{
    width: 30%;
}
.titulo{
    text-align: center;
    font-family: verdana;
    color: #666666;
    font-size:xx-large;
    background-color: rgba(0, 128, 255, 0.178);
    text-transform: uppercase;
}
.borderPartidos{
    border: 1px solid rgba(51, 68, 85, 0.178) !important; 
    border-radius: 2px;
    background-color: rgba(4, 99, 143, 0.747) !important;
    color:rgb(221, 220, 220) !important;
    font-weight: bolder;
    
}
#eliminar{
    background-color: rgba(117, 5, 5, 0.753);
    color:white;
}

#eliminar:hover{
    background-color: rgb(255, 0, 0);
    color:white;
}
.iconoHover{
    background-color: #437499a2 !important;
    border: 1px solid rgba(255, 255, 255, 0.603) !important;
}
.iconoHover:hover{
    background-color: #1c93eede !important;
    
}

.textoFecha{
    border-left: 6px solid rgba(4, 99, 143, 0.747);
    border-right: 6px solid rgba(4, 99, 143, 0.747);
    border-bottom: 1px solid rgba(4, 99, 143, 0.747);
    margin-bottom: 30px;
}

.borderCaja{
    border: 1px solid black !important; 
    border-radius: 3px;
}
#nameTorneo{
    
    white-space: nowrap;
}

.borde-tabla{
    border: 1px solid rgba(0, 0, 0, 0.068);
   text-align: center;
}
.usuarios-cargados{
    display: grid;
    place-items: center;
    margin-top: 2%;
    height: 20vh;
    padding: 1%;
    padding-top: 5%;
    width: 100%;
}
@media (max-width: 30em){
    table{
        width: 100%;
        margin-top: 5%;
    }
table tr{
    display: flex;
    flex-direction: ROW;
    border:1px solid grey;
    padding:5%;
    margin-top: 5%;
}

}
@media (max-width: 60em){
    table{
        width: 100%;
        margin-top: 10% ;
       
    }
table td{
    display: flex;
    flex-direction: column;
    border:1px solid grey;

}
table tr{
    display: flex;
    flex-direction: column;
  
   width: 100%;
   padding-bottom: 10%;
}
table th{
    display: flex;
    flex-direction: column;
    background-color: #2c2c2c38;
   width: 100%;
}
.cuerpo{
    height: 140vh;
    padding: 1%;
    padding-left: 8%;
    width: 100%;
   
  }
}

.buscador{
    margin:4%;
    padding-top:2vh;
}
.tabla-partido{
    display: flex;
    align-items: center;
    height: 25%;
    margin-top: 5%;
    border-radius: 10%;
    
 }
.equipo{
    width: 5%;
    border-left: 1px solid rgba(128, 128, 128, 0.308);
    border-right: 1px solid rgba(128, 128, 128, 0.377);
    border-radius: 2%;
    text-align: center;
}

.deportista-fondo{
    margin-top: 5%;
    padding: 3px 10px;
  
    box-shadow:
    0 0 5px #5c98c55b,
    0 0 10px #5c98c54b,
    0 0 15px #5c98c542;
    background-color: #4b4a4a15;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  
}
.progress{
    margin-bottom: 4%;
    width: 80%;
}



.letra-barra{
    background-color: #aec0c717;
  padding-bottom: 12%;
}