
.jumbotron{
    background-color: #125d889b !important;
}
.arca-contenedor{
    background: rgb(34,153,195);
    background: linear-gradient(0deg, rgba(34,153,195,1) 0%, rgba(241,248,250,1) 100%);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    display: flex;
    text-align: center;
    justify-content: center;
}
.fondo-arcanet{
    width: 30vw;
  
    background-image: url(../../imagenes/LogoArcanet3.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
}
.formulario{
   width: 45%;
   margin: 11%;
}
.boton{
    float:right;
    margin-top: 2%;
    background-color: rgba(77, 104, 69, 0.466);
    color: white;
}

.arca{
    width: 20%;
    margin-top: 3%;
   animation: flotar 3s linear infinite; 
}
@keyframes flotar{
    0%, 100% {
        transform:translateY(0rem) ;
    }
   
    28%{
        transform: translateY(-0.6rem);
    }
}
.navegacion{
    background-color: #2299c3;
   
    border-bottom: 2px solid #1d6681;
   
}
.letra-nav{
    color:rgb(254, 254, 255) !important;
    font-family: verdana;
}
.logo{
    width: 15%;
}
.arcanet{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.267)!important;
    border-bottom: 1px solid white;
}

.soporte{
    padding: 3%;
    display: flex;
    justify-content: center;
   
}
.preguntas{
    width: 40%;
    float: left;
    color: black;
    background-color: rgb(255, 255, 255)!important; 
}
.preguntas1{
  
    padding: 6%;
    margin-top: 5%;
    color: black;
    margin-right: 2%;
    border-left: 1px solid rgba(255, 255, 255, 0.548);
    border-right: 1px solid rgba(255, 255, 255, 0.548);
    color: azure;
    background-color: #1728334b !important;
}
.contenido{
    display: grid;
    justify-content: center;
    width: 50%;
    height: 50vh; 
    margin-left: 3%;
}


.texto{
    margin-top:2%;
    margin-right: 5%;
    text-align: center;
    color: rgb(237, 231, 231) !important;
    font-family: verdana;
  
}

.card-img-top{
    width: 100% !important;
    height: 35vh;
    border: 1px solid rgba(29, 29, 29, 0.805);
    
}
.card-body{
    background-color: #12607d9d !important;
    border: 1px solid rgba(29, 29, 29, 0.805);
}
.contenedor{
    margin-top: 5%;
    background-color: #13567db5 !important;
}
.contenifo-info{
    padding: 5%;
    text-align: center;
    display: grid;
    justify-content: center;
}
p{
    margin: 5%;
    padding: 5%;
    border-left: 1px solid rgba(255, 255, 255, 0.548);
    border-right: 1px solid rgba(255, 255, 255, 0.548);
    color: azure;
    background-color: #02040416;
  }