*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}
body.html{
    overflow-x: hidden;
}

.cajasombra{
    box-shadow: 
    0 0 5px rgba(116, 121, 134, 0.733),
    0 0 10px rgb(136, 139, 146),
    0 0 15px rgb(196, 199, 207),
    0 0 20px rgb(233, 238, 255);
 
}
.color{
    text-align: center;
   color: white!important;
}
.color:hover{
    color: rgb(24, 36, 54) !important;;
  }
.bg{
    background-color: #465c6dc7!important;
    border-bottom: 1px solid rgb(94, 94, 94);
 }

.textoHeader{
    margin:0;
    width: 100%;
    text-align: center;
}

.texto{
    text-align:center;
   
}
.row{
    width: 100%;
}
.textoprin{
    color: rgb(80, 125, 171) !important;
     white-space: nowrap;
     font-family:'Franklin Gothic Medium';
 }
 
 
 .textoprin:hover{
     color:#212c34d8 !important;
     border-radius: 4%;
     transition: 0.5s;
 }
 
 .textoprinPrincipal{
     color: rgb(23, 70, 99) !important; 
     font-family:'Franklin Gothic Medium';
  }
  .textoprinPrincipal:hover{
     color: rgb(80, 125, 171) !important;
     font-family:'Franklin Gothic Medium';
  }


.color-texto{
    text-align: center;
    color: white!important;
}


.foto{
    margin-top: 4%;
    border-radius: 80%;
    border: 1px solid rgb(129, 129, 129);
}

.modal-color{
    width: 100%;
   
    background-color: #b8dbeb49;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    
}

.modal-cabezera{
    width: 100%;
    background-image: url(../../imagenes/logo.png);
    background-repeat: no-repeat ;
    background-position: center;
    align-items: center;
    display: flex;
    justify-content: center;
 }
 .color-estudiante{
    color: #383838;
    background-color: rgba(0, 128, 255, 0.178);
}

.boton-enviar{
    color: white;
   background-color: #465c6dc7 !important;
  font-weight: bolder;
  margin-top: 3%;
}
.boton-enviar:hover{
    background-color: #415869b2 !important;
    color: #2c2c2c !important;
}

.contenedor {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: center;
    align-items: center; 
}

.parrafo {

     font-family: Verdana;
     font-size: 0.73vw;
     height: 60vh;
     color: rgb(0, 0, 0);
     background-color: rgba(0, 128, 255, 0.178);;
     border-left: 2px solid rgb(86, 133, 197);
     padding: 3%;
   
  }





.contenedor-parrafo{
    height: 70vh;
    background-color: #644a4a; 
   
  
}
.contenido-parrafo{
    height: 54vh;
    margin: 3em;
    font-size:0.9vw;
    color: rgb(71, 71, 71);
    padding: 2%;
    border-radius: 15%;
}

.cajon{
    margin-top: 5%;
    background-color: rgb(255, 255, 255);
    box-shadow: 
     0 0 5px rgba(116, 121, 134, 0.733),
     0 0 10px rgb(136, 139, 146),
     0 0 15px rgb(196, 199, 207),
     0 0 20px rgb(233, 238, 255);
     width: 12%;
     height: 60%;
}
.contenido{
    padding: 1%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CDE8F1;
}
.imagen{
    margin-top: 2%;
    width: 80%;
}

.elementopie{
    text-align: center;
    background-color: rgb(23, 37, 41);
}
.elementopie a{
    color:white;
}
.modal-color{
    width: 100%;
   
    background-color: #b8dbeb49;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    
}
.modal-contenido{
    background-color: rgba(0, 128, 255, 0.178);
    color: #666666;
    width: 60%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items:flex-end;
     
}
.modal-cabezera{
    width: 100%;
    background-image: url(../../imagenes/logo.png);
    background-repeat: no-repeat ;
    background-position: center;
    align-items: center;
    display: flex;
    justify-content: center;
 }
.formulario{
    background-color: #a09f9f;
}

.jumbotron{
    padding: 5%!important;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255) !important;
}

.idioma{
    font-family: verdana;
    color: rgb(32, 107, 169); 
    cursor: pointer;
    background-color:white !important ;
    border: 1px solid white;
    font-size:small;
}
.idioma:hover{
    color: rgb(0, 114, 245); 
    font-weight: bolder;
}
.imaIdioma{
    width: 20%;
}
.idiomas{
    border-left: 2px solid rgba(0, 128, 255, 0.178);
}

.piedepagina{
 
    background-size:auto;
    background-image: url(../../imagenes/LogoArcanet3.png);
    background-repeat: no-repeat ;
    background-attachment:local;
    background-position: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.arca{
    
    width: 4em;
   margin-left: 4%;
    display: block;
    animation: float 3s linear infinite;
   
}
@keyframes float{
    0%, 100% {
        transform:translateY(0rem) ;
    }
   
    28%{
        transform: translateY(-0.3rem);
    }
}


                                             /*responsive*/


@media only screen and (max-width:412px){
    .imagen{
        height:10vh;
    }

    .parrafo {

        font-family: Verdana;
        font-size: 3vw;
        height: 80vh;
        color: rgb(0, 0, 0);
        background-color: rgba(0, 128, 255, 0.178);;
        border-left: 2px solid rgb(86, 133, 197);
        padding: 3%;
      
     }
   

    .jumbotron{
    margin-top: 1%;
     height: 200vh;
    }


     .piedepagina{
        margin-left: 4%;
        background-size:unset;
        background-image: url(../../imagenes/LogoArcanet3.png);
        background-repeat: no-repeat ;
        background-attachment:local;
        background-position: center;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .arca{
    
        width: 4em;
       margin-left: 10%;
        display: block;
        animation: float 3s linear infinite;
       
    }
    .contenido-informativo{
        text-align:justify;
        padding: 5%;
        background-color: #a1cef023;
        height: 120vh !important;
        width: 100%;  
}
.contenido-informativoObjetivo{
    text-align:justify;
    padding: 5%;
    background-color: #a1cef023;
    height: 80vh !important;
    width: 100%;  
}
.contenido-informativo-egresados{
    text-align:justify;
    padding: 5%;
    background-color: #a1cef023;
    height: 130vh !important;
    width: 100%;  
}
.contenido-informativos{
    text-align:justify;
    padding: 5%;
    background-color: #a1cef023;
    height: 72vh !important;
    width: 100%;  
}
  
    .contenido-informativoEMT{
        text-align:justify;
        padding: 5%;
        background-color: #a1cef023;
        height: 160vh !important;
        width: 100%;  
    }

}

.contenido-informativo{
        text-align:justify;
        padding: 5%;
        background-color: #a1cef023;
        height: 66vh;
        width: 100%;  
}
.contenido-informativos{
    text-align:justify;
    padding: 5%;
    background-color: #a1cef023;
    height: 48vh;
    width: 100%;  
}
.contenido-informativoEMT{
    text-align:justify;
    padding: 5%;
    background-color: #a1cef023;
    height: 120vh;
    width: 100%;  
}
.contenido-informativoObjetivo{
    text-align:justify;
    padding: 5%;
    background-color: #a1cef023;
    height: 60vh;
    width: 100%;  
}
.contenido-informativo-egresados{
    text-align:justify;
    padding: 5%;
    background-color: #a1cef023;
    height: 65vh;
    width: 100%;  
}
.cabezera{
    color: #666666;
    background-color: rgba(0, 128, 255, 0.178);
    width: 100%;
    padding: 2%;
    margin-bottom: 2%;
    font-size: larger;
    font-family: verdana;
    border-left: 1px solid rgb(59, 121, 146);
    border-right: 1px solid rgb(59, 121, 146);
    border-bottom: 1px solid rgba(59, 121, 146, 0.116);
}

.card{
    background-color: transparent !important;
    border: 0 !important;
}

